Repository ProjectHireReady/ThryveSpace, pull requests merged in 2025-09, with the labels that each got.

#78 AI Integration
  backend/config/settings.py
  backend/config/urls.py
  backend/insights/admin.py
  backend/insights/constants.py
  backend/insights/jobs.py
  backend/insights/models.py
  backend/insights/urls.py
  backend/insights/utils.py
  backend/insights/views.py
  backend/requirements.txt
Labels: enhancement, backend, API

#84 Feature/moods api caching
  backend/api_docs/insights_api.md
  backend/insights/tests/test_history.py
  backend/insights/urls.py
  backend/insights/views.py
  backend/moods/management/commands/seed_moods.py
  backend/moods/serializers.py
  backend/moods/urls.py
  backend/moods/views.py
Labels: backend, High Priority, Caching & Etag

#104 Feature/backend note title field
  backend/api_docs/notes_api.md
  backend/notes/models.py
  backend/notes/serializers.py
  backend/notes/tests/tests.py
  backend/notes/views.py
Labels: documentation, backend, Database, Notes Logic, API Endpoint

#112 Feature/frontend guest user entries flow 111
  frontend/src/api/fetchKindnessMessage.js
  frontend/src/components/NewEntryForm.jsx
  frontend/src/context/EntriesContext.jsx
  frontend/src/hooks/useEntrySubmit.js
  frontend/src/hooks/useFormattedDate.js
  frontend/src/utils/guestKindness.js
  frontend/src/utils/guestUtils.js
  frontend/src/utils/loggedInKindness.js
Labels: frontend, ready for review, refactor, Guest experience
