Repository ProjectHireReady/ThryveSpace, pull requests merged in 2025-08, with the labels that each got.

#37 ♻️ Refactor: Remove Guest Auth System and Implement Clean User Signup Flow
  backend/users/admin.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: backend, refactor

#47 add secure update and delete endpoints
  backend/config/permissions.py
  backend/moods/tests.py
  backend/notes/serializers.py
  backend/notes/tests.py
  backend/notes/views.py
  backend/users/models.py
Labels: enhancement, backend, API

#60 Implement Features Page with icons and responsive layout 38
  frontend/src/assets/features/ai.svg
  frontend/src/assets/features/mood-track.svg
  frontend/src/assets/features/no-pressure.svg
  frontend/src/assets/features/personal.svg
  frontend/src/assets/features/privacy.svg
  frontend/src/components/PageTransition.css
  frontend/src/components/PageTransition.jsx
  frontend/src/components/ScrollToTop.jsx
  frontend/src/pages/FeaturesPage.css
  frontend/src/pages/FeaturesPage.jsx
Labels: frontend, features, ready for review

#62 Implement Login, Signup, and Logout with Session Handling
  frontend/src/assets/auth/auth.svg
  frontend/src/assets/auth/auth2.svg
  frontend/src/assets/auth/rafiki.svg
  frontend/src/context/AuthContext.jsx
  frontend/src/pages/auth/Auth.css
  frontend/src/pages/auth/LoginPage.jsx
  frontend/src/pages/auth/SignUpPage.jsx
  frontend/src/services/authService.js
Labels: frontend, ready for review, High Priority, Auth
