Repository ProjectHireReady/ThryveSpace, pull requests merged in 2025-06, with the labels that each got.

#7 Feature backend/moods app setup
  backend/.gitignore
  backend/api_docs/ThryveSpace-Moods.postman_collection.json
  backend/config/urls.py
  backend/db.sqlite3
  backend/moods/admin.py
  backend/moods/migrations/0001_initial.py
  backend/moods/migrations/0002_seed_initial_moods.py
  backend/moods/models.py
  backend/moods/serializers.py
  backend/moods/serializers/__init__.py
  backend/moods/tests.py
  backend/moods/urls.py
  backend/moods/urls/__init__.py
  backend/moods/views.py
Labels: enhancement, backend

#12 Implement homepage UI with sections and layout (#1)
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/champion.svg
  frontend/src/assets/contact-img.svg
  frontend/src/assets/features.svg
  frontend/src/assets/flower.svg
  frontend/src/assets/hero-img.svg
  frontend/src/assets/meditation.svg
  frontend/src/assets/wellness.svg
  frontend/src/components/BenefitsSection.css
  frontend/src/components/BenefitsSection.jsx
  frontend/src/components/CTA.css
  frontend/src/components/CTA.jsx
  frontend/src/components/ContactSection.css
  frontend/src/components/ContactSection.jsx
  frontend/src/components/DailyUplifts.css
  frontend/src/components/DailyUplifts.jsx
  frontend/src/components/FaqSection.css
  frontend/src/components/FaqSection.jsx
  frontend/src/components/FeaturesPreview.css
  frontend/src/components/FeaturesPreview.jsx
  frontend/src/components/Footer.css
  frontend/src/components/Footer.jsx
  frontend/src/components/Hero.css
  frontend/src/components/Hero.jsx
  frontend/src/components/NavBar.css
  frontend/src/components/NavBar.jsx
  frontend/src/data/navLinks.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/styles/global.css
  frontend/vite.config.js
Labels: enhancement, frontend, features, ready for review

#20 Build Entries Page & Refactor Journal Flow (#18)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/BenefitsSection.css
  frontend/src/components/BenefitsSection.jsx
  frontend/src/components/CTA.css
  frontend/src/components/CTA.jsx
  frontend/src/components/ContactSection.css
  frontend/src/components/EntryCard.css
  frontend/src/components/EntryCard.jsx
  frontend/src/components/FaqSection.css
  frontend/src/components/Hero.css
  frontend/src/components/Hero.jsx
  frontend/src/components/JournalEntry.css
  frontend/src/components/JournalEntry.jsx
  frontend/src/components/JournalModal.css
  frontend/src/components/JournalModal.jsx
  frontend/src/components/MoodSelector.css
  frontend/src/components/MoodSelector.jsx
  frontend/src/hooks/useEntries.jsx
  frontend/src/pages/EntriesPage.css
  frontend/src/pages/EntriesPage.jsx
  frontend/src/pages/MoodJournalPage.jsx
Labels: documentation, enhancement, frontend, features, ready for review, refactor
